<div>
  <h5>Dettagli utente:</h5>
  <div>
    <h4>Dati anagrafici:</h4>
    Nome: {{utente.nome}}<br/>
    Cognome: {{utente.cognome}}<br/>
    Data di nascita: {{utente.dataNascitaFormat}}<br/>
  </div>
  <div>
    <h4>Credenziali:</h4>
    Username: {{utente.username}}<br/>
    Email: {{utente.email}}<br/>
    <app-my-button [myConfig]="buttonConfig" (click)="modificaCredenziali()"></app-my-button>
  </div>
</div>
<div>
  <h3>Le tue prenotazioni</h3>
  <ng-container *ngIf="prenotazioni; else noData">
    <app-my-table [myConfig]="tableConfig" [data]="prenotazioni"></app-my-table>
  </ng-container>
  <ng-template #noData>
    <h5>Nessuna prenotazione da mostrare</h5>
  </ng-template>
</div>

