<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-my-header></app-my-header>

<div class="d-flex justify-content-center">

  <router-outlet></router-outlet>

</div>








<!--<app-my-gestione-utenti></app-my-gestione-utenti>-->
<!--<app-my-table [myConfig]="myTableConfig" [data]="data" (clickButton)="manageClickButton($event)"></app-my-table>

</div>
<div class="d-flex justify-content-center">
<app-my-form [myConfig]="form" [title]="title"></app-my-form>-->
